extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
block content
    main
        if cart.length
            h1 Total price: #{totalPrice}

            each cartItem in cart
                article.card.product-item
                    header.card__header
                        h1.product__title #{cartItem.title}
                    .card__image
                        img(src="" + cartItem.imageUrl, alt="A Book")
                    .card__content
                        h2.product__price #{cartItem.price}$
                        p.product__description #{cartItem.description}
                        if cartItem.qty
                            p.product__description #{cartItem.qty}
                    .card__actions
                        form(action="/cart/" + cartItem.id + "/?delete=true", method="POST")
                            button.btn(type="submit") Delete
        else
            h1 Cart is empty
