extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
block content
    main
        if cart.length
            h1 Total price: #{totalPrice}

            each p in cart
                article.card.product-item
                    header.card__header
                        h1.product__title #{p.title}
                    .card__image
                        img(src="" + p.imageUrl, alt="A Book")
                    .card__content
                        h2.product__price #{p.price}$
                        p.product__description #{p.description}
                        if p.cartItem.quantity
                            p.product__description #{p.cartItem.quantity}
                    .card__actions
                        form(action="/cart/" + p.id + "/?delete=true", method="POST")
                            button.btn(type="submit") Delete

            form(action="/create-order", method="POST")
                button.btn(type="submit") Order Now!
        else
            h1 Cart is empty
